<!DOCTYPE html>
<html>

  <head>
    <title>Hawkular - The OpenSource monitoring platform</title>
    <base href='${hawkular.console.index.html.base.href}'>
    <meta charset="UTF8">

    <!-- bower:css -->
    <!-- endbower -->

    <!-- BTM INTEGRATION START -->
    <link href="dist/hawkularbtm.css" rel="stylesheet">
    <!-- BTM INTEGRATION FINISH -->

    <link href="dist/hawkular-console.css?v=${hawkular.console.timestamp}" rel="stylesheet">

    <!-- ES6/ES6 shim -->
    <!--[if IE 8]>
    <script src="libs/es5-dom-shim/__COMIPLE/a.ie8.js"></script>
    <![endif]-->
    <script src="libs/es5-dom-shim/__COMPILE/a.js"></script>
    <script src="libs/patternfly/components/jquery/dist/jquery.js"></script>
    <script src="libs/patternfly/components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="libs/patternfly/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <!-- bower:js -->
    <!-- endbower -->
  </head>

  <body class="ng-cloak" ng-controller="GlobalController as global">
    <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div idle-countdown="countdown" ng-init="countdown=30" id="idle">
        <strong>You'll be logged out in {{countdown}} second(s).</strong>.
      </div>

      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ng-click="global.experimentalMode()" >
            <img id="hawkularLogo" src="resources/img/brand.svg"
                 alt="RED HAT JBOSS HAWKULAR Management Console" title="Hawkular">
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-collapse-1">
          <ul class="nav navbar-nav navbar-utility">
            <li class="dropdown" dropdown ng-controller="HawkularAccounts.PersonaController as personaController">
              <a href="#" dropdown-toggle>
                <span class="pficon pficon-user"></span>
                {{personaController.currentPersona.name}} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" id="personaSwitcher">
                <li class="text-muted hk-using">Use Hawkular as:</li>
                <li ng-repeat="persona in personaController.personas"
                    ng-class="{'active': persona.id === currentPersona.id}">
                  <a href="#" ng-click="personaController.switchPersona(persona)">
                    <i class="fa fa-check"
                       ng-class="{'hk-invisible': persona.id !== personaController.currentPersona.id}"></i>
                    {{persona.name}}
                  </a>
                </li>
                <li class="divider" ng-show="personaController.personas.length"></li>
                <li>
                  <a id="organizationsOption" href="/hawkular-ui/organizations">Manage Organizations</a>
                </li>
                <li>
                  <a id="userSettingsOption" href="/hawkular-ui/settings">User Settings</a>
                </li>
                <li>
                  <a id="tokensOption" href="/hawkular-ui/tokens">Tokens</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a id="logout" href="#" ng-click="userDetails.logout()">Log Out</a>
                </li>
              </ul>
            </li>
          </ul>
          <hawkular-topbar ng-controller="Topbar.TopbarController"></hawkular-topbar>
        </div>
      </div>
    </nav>

    <div ng-controller="HawtioNav.ViewController">
      <div ng-controller="HawkularMetrics.ViewController as hkvc">
        <div class="{{hkvc.viewClass}} screen-content" ng-include src="viewPartial"></div>
      </div>
    </div>

    <!-- add any scripts under dist/ here -->
    <script src="dist/hawkular-console.js?v=${hawkular.console.timestamp}"></script>

    <!-- BTM INTEGRATION START -->
    <script src="dist/hawkularbtm.js"></script>
    <!-- BTM INTEGRATION FINISH -->

    <script>
      var title = 'HAWKULAR: ' + HawkularVersion;
      document.getElementById("hawkularLogo").title = title;
    </script>
  </body>
</html>
